@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Manrope:wght@200..800&family=Special+Gothic+Expanded+One&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark , .dark *));

*{
  font-family: "Manrope" , sans-serif;
  font-weight: 500;
  user-select: none;
  cursor: none;
}

@theme {
  --color-primary: #5044e5;
}